{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PasswordGenerator- Home</title>
</head>
<!--<style>
table, th, td {
  border: solid black;
}
</style>-->
<style> 
.div1 {
  /*width: 100%;*/
  /*height: 400px;*/
  border: 2px solid black;
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
}
</style>
<body>
	<div class="div1">
		<center>
		<h2><u>Password Generator</u></h2>
		<br>
			<form action="{% url 'generator' %}">
				<table>
				<tr>
	    			<th>Filter</th>
	    			<th>Apply</th>
	  			</tr>
	  			<tr>
	    			<td><strong>Length</strong></td>
	    			<td><center><select name = 'length'>
						<option value="8" selected="">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
					</select></center></td>
	 			</tr>
	 			<tr>
	 				<td><strong>Uppercase</strong></td>
	 				<td><center><input type="checkbox" name="uppercase"></center></td>
	 			</tr>
	 			<tr>
	 				<td><strong>Numbers</strong></td>
	 				<td><center><input type="checkbox" name="numbers"></center></td>
	 			</tr>
	 			<tr>
	 				<td><strong>Special Characters</strong></td>
	 				<td><center><input type="checkbox" name="specialChar"></center></td>
	 			</tr>
				</table>
				<input type="submit" value="Generate Password">
			</form>
		</center>
		<br>
		<center>
			<img src="{% static 'images/lock2.png' %}">
		</center>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

<!-- <img src="{% static 'images/lock2.png' %}" alt="Lock Image" style="width: 350px; height: 350px"> -->